<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okode.okta">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:name="com.okode.okta.Biometric"
            android:theme="@style/AppTheme.Transparent"></activity>
    </application>
</manifest>
